$base-light: #644494;
$base-dark: #FE9609;
$enable-negative-margins: true;

$headings-color: $base-light;
$headings-color-dark: $base-dark;
$link-color: $base-light;
$link-color-dark: $base-dark;
$code-color: $base-light;
$code-color-dark: $base-dark;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.inversion-filter {}
@media (prefers-color-scheme: dark) {
  .inversion-filter {
     filter: invert(100%);
  }
}

.favicon-inversion-filter {
  filter: invert(29%) sepia(15%) saturate(2317%) hue-rotate(222deg) brightness(100%) contrast(90%)
}
@media (prefers-color-scheme: dark) {
  .favicon-inversion-filter {
     filter: invert(78%) sepia(78%) saturate(4236%) hue-rotate(356deg) brightness(103%) contrast(99%);
  }
}

abstract > header { @extend h6; }
abstract > section header { @extend b; }

