beautifulsoup4
izihawa_nlptools
lxml
pandas
PyCryptodome
pypdf==3.8.1
seaborn

aiobaseclient
aiocrossref
aiogrobid==0.1.11
aiokit
aiosqlite
base36
dateparser
emoji
izihawa_configurator>=1.0.4
izihawa_loglib>=1.0.2
izihawa_utils
lru-dict
sqlalchemy
stc-geck>=1.2.0
telethon
uvloop