beautifulsoup4
lxml
pandas
fasttext-wheel
PyCryptodome
pypdf>=3.16.3
seaborn

aiobaseclient
aiocrossref
aiokit>=1.2.3
aiosqlite
aiosumma>=2.47.3
bleach
base36
cybrex[petals]>=1.11.11
dateparser
emoji
isbnlib>=3.10.13
izihawa_configurator>=1.0.4
izihawa_ipfs_api>=1.0.0
izihawa_loglib>=1.0.2
izihawa_utils
lru-dict
markdownify
sqlalchemy
stc-geck>=1.8.35

telethon==1.30.3
